.header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header-right,
.header-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.OdinLogo {
    width: 180px;
    flex: 2;
}

.footer {
    padding: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.footer>p>span>a {
    font-style: italic;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

li {
    color: #F9FAF8;
    margin: 0;
    padding: 30px 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    margin: 5px;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    padding: 10px;
    margin: 10px 0px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 10px 0px;
}

.quote>p {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    font-size: 18px;
    font-family: Roboto, 'Times New Roman', Times, sans-serif;
}

/* span {
    margin: 0px 6px;
    font-style: italic;
} */

.cardCollection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    display: flex;
    border: 5px solid #3882F6;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    height: 100px;
    width: 500px;
}

.card>button {
    margin: 10px;
}

h1 {
    text-align: center;
}